<h1>Bem - Vindo handlebars</h1>
<p>Layout com handlebars</p>
<p>O usuario que eu mandei pra ca foi o {{user.name}} e ele tem {{user.age}} anos</p>
<p>{{user.name}} tem um carro {{carro.model}} da {{carro.brand}} de {{carro.year}}</p>