<h1>Bem - Vindo handlebars</h1>
<p>Layout com handlebars</p>
<p>O usuario que eu mandei pra ca foi o
  {{#with user}}
    {{name}}
    e ele tem
    {{age}}
    anos
  {{/with}}
</p>

<p>
  O
  {{user.name}}
  tem um carro
  {{#with carro}}
    {{model}}
    da
    {{brand}}
    de
    {{year}}
  {{/with}}
</p>
{{#if auth}}
  <h1>Visite nossa dashboard</h1>
  <p>Você está autenticado.</p>
  <a href="/dashboard">Clique aqui</a>
{{else}}
  <p>Você nao está autenticado em nosso sistema!</p>
{{/if}}