<h1>Bolo especificado</h1>

<div class="container-bolo">
    {{#with cake}}
    <h3>{{name}}</h3>
    <img src="{{image}}" alt="{{name}}">
    <p>{{price}}</p>
    <p>{{description}}</p>
    {{/with}}
    
</div>
